   
   *{
    margin: 0px;
    padding: 0px;
    background-color: white;
   }
   
   
   
   .upperheader{
    width: 1100px;
    height: 80px;
    margin: auto;
    display : flex;
    justify-content: space-between;
    align-items:center;
    padding: 0px 20px;
   }



.upperheader h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;

}

.upperheader ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    
}

.upperheader ul li a{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin-right:50px;
    font-size:20px;
    text-decoration:none;
    cursor: pointer;
}

.upperheader ul li a:hover{
    color: greenyellow;
}



.upperheader .btn{
    width:150px;
    height:50px;
    font-size:18px;
    color:black;
    display : flex;
    justify-content: center;
    align-items:center;
    background-color: transparent;

}

.about {
    width:100%;
    padding:60px 0px;
    
}

.about img{
    height: auto;
    width: 500px;
}

.content {
    width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
   max-width: 90%;
   justify-content: space-around;
    

}

.info{
    width: 450px;

}

.info h1{

    color: rgb(36, 66, 7);
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 10px;


}

.info h3{

    color: rgb(65, 4, 43);
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 10px;
    

}

.info p{
    color: black;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 28px;
    
}

.button{
    margin-top: 20px;
    padding: 15px 30px;
    width: 85px;
    color:black;
    background:lightcoral; 
    font-weight: bold;
    border-radius: 20px;
    transition: 0.5s;


}

button:hover{
    background-color: rgb(73, 161, 228);
    padding: 15px 30px;
    width: 85px;
    border-radius: 20px;
}

footer{


    position:absolute;
    height:330px ;
    width:100vw ;
    background-color: black;
    bottom: 10;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 40px;
    
}

.footercontent{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;


}

.footercontent h1{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
    text-transform: capitalize;
    line-height: 2rem;
    margin-bottom: 10px;
    background-color: black;
    

}

.footercontent p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    max-width: 900px;
    text-align: center;
    margin-bottom: 30px;
    background-color: black;

}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    
    

}

.social a{
    text-decoration: none;
    color:rgb(143, 229, 15);
    padding:10px;
    background-color: black;
    
}



.social a i{
    font-size: 20px;
    background-color: black;
}

.social i:hover{
    color:white;
}


.footerbottom p{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 30px;
   color:white;
   background-color: black;

}

.footerbottom span{

    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    background-color: black;
    
}






