@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
*{
    margin: 0px;
    padding: 0px;
   
}



.container{
    width: 1200px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.container h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #30d300;
    cursor: pointer;
}

.container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.container ul li a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}



.container ul li a:hover{
    color: #30d300;
}

.container .btn{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #30d300;
    transition: 0.5s;
}

.container .btn:hover{
    background-color: #fff;
    color: #30d300;
}

.content{
    width: 1200px;
    height: 100vh;
    margin: auto;
}

.content h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 50px;
    padding-top: 100px;
}

.content p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: lightgray;
    line-height: 30px;
    padding-top: 30px;
}

.content .btn{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #fff;
    transition: 0.5s;
    margin-top: 30px;
}

.content .btn:hover{
    background-color: #fff;
    color: #30d300;
}

.title h1{
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
}

.title h1::after{
    content: "";
    height: 4px;
    width: 230px;
    background-color: #000;
    display: block;
    margin: auto;
}

.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}

.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: aquamarine;
    border-radius: 10px;
    cursor: pointer;
}

.card .icon{
    font-size: 35px;
    margin-bottom: 10px;
}

.card h2{
    font-size: 28px;
    color: #30d300;
    margin-bottom: 20px;
}

.card p{
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: black;
}

.button{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.button:hover{
    background-color: #c94f4f;
    transition: 0.4s ease;
}

footer{


    position:absolute;
    height:330px ;
    width:100vw ;
    background-color: black;
    bottom: 10;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 40px;
    
}

.footercontent{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;


}

.footercontent h1{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
    text-transform: capitalize;
    line-height: 2rem;
    margin-bottom: 10px;
    background-color: black;
    

}

.footercontent p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    max-width: 900px;
    text-align: center;
    margin-bottom: 30px;
    background-color: black;

}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    

}

.social a{
    text-decoration: none;
    color:rgb(143, 229, 15);
    padding:10px
}



.social a i{
    font-size: 20px;
}

.social i:hover{
    color:white;
}


.footerbottom p{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 30px;
   background-color: black;
}

.footerbottom span{

    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    background-color: black;
}




